.body-wrapper {
  text-align: center;
  font-size: 14px;

  .csv-upload-btn-wrapper, .objects-query-wrapper, .result-table-wrapper {
    padding: 5%;
  }

  .csv-upload-btn-wrapper {
    border-bottom: 1px solid #bfbfbf;

    #file {
      margin-right: 10%;
    }
  }

  .update-status, .status-msg {
    margin-top: 5%;
    color: #70736e;
    font-weight: bold;
  }

  .objects-query-wrapper {
    #query-ip {
      width: 70%;
      padding: 3px;
    }
  }
}

